
.plateau{ 
     background-color:rgb(190, 126, 89); 
    margin:auto;
    display:flex; 
    /* justify-content:space-evenly;    */
    flex-wrap: wrap;  
     width:620px;
     height:auto;
     position:relative;
    /* background-color:black; rgb(190, 126, 89);  */
}

/*.rectangle{
     margin:5px;      
     background-color:rgb(190, 126, 89); 
    position:relative; 
}*/

.case {
    background-color:rgb(190, 126, 89);
}

.mur {
    background-color: green;
}

.joueurUn{

    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgb(255, 52, 52);
    position: absolute;
    top: 580px;
    left: 290px;
    z-index: 2;
}

.joueurDeux{
    
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:rgb(85, 195, 238);
    position:absolute;
    top:20px;
    left:290px;
    z-index:2;
}

.pionShadow{ 
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    opacity: 20%;
}

.pion1{
   
    border-radius: 50%;
    background-color: rgb(255, 52, 52);
}

.pion2{
    border-radius: 50%;
    background-color: rgb(85, 195, 238);
}

.murSolid{

    background-color: rgb(144, 194, 144);
}

.murStoragej1{
    background-color: rgb(190, 126, 89);
}

.murStoragej2{
    background-color: rgb(190, 126, 89);
}

.storageUn{
    background-color:rgb(190, 126, 89); 
    margin:auto;
    display:flex; 
    flex-wrap: wrap;  
     width:710px;
     /* height:auto; */
     position:relative;
     margin-bottom: 30px;
     border: solid 10px brown;
     

}

.storageDeux{
    background-color:rgb(190, 126, 89); 
    margin:auto;
    display:flex; 
    flex-wrap: wrap;  
     width:710px;
     position:relative;
     margin-top: 30px;
     border: solid 10px brown;
}

.murj1{
    background-color:rgb(144, 194, 144);
}


/* .active {
    opacity:50%;
} */