body {
    background-color: #505561;
}


.plateau {
    background-color: #32394b;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    height: auto;
}

.case {
    background-color: #32394b;
}

.mur {
    background-color: #46588a;
}

.pionShadow {
    border-radius: 50%;
    background-color: rgb(179, 212, 255);
    opacity: 20%;
}

.pion1 {

    border-radius: 50%;
    background-color: #c04f55;
}

.pion2 {
    border-radius: 50%;
    background-color: rgb(144, 194, 144)
}

.murSolid {


    background-color: #b4b4b4;
}

.murStoragej1 {
    background-color: #32394b;
    margin: 2px;
}

.murStoragej2 {
    background-color: #32394b;
    margin: 2px;
}

.storageUn {
    margin: auto;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    width: 900px;
    height: auto;
    margin-top: 30px;
}

.storageDeux {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 900px;
    position: relative;
    margin-bottom: 30px;
}

.murj1 {
    background-color: #b4b4b4;
}

.hover { 
    background-color: #a1b8f8;

}